<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th hidden scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Authod</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let book of books">
            <td hidden>{{ book.id }}</td>
            <td>{{ book.name }}</td>
            <td>{{ book.author }}</td>
         
            <td>
              <a (click)="addToBorrow(book.id)" href="javascript:void(0);">Borrow</a>
              
            </td>
       
          </tr>
        </tbody>
      </table>
    </div>
  </div>
